ul {
  list-style-type: none;
  margin: auto;
}

#navbarNav {
  text-align: center;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.navbar-nav {
  border-bottom: 3px solid black;
  border-top: 1px solid black;
}

.navbar {
  background-color: #e9ecef;
  opacity: 0.6;
}
