ul {
  list-style-type: none;
  margin: auto;
}

#navbarNav {
  text-align: center;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
}
.nav-animate{
  animation: fadeIn 3s ;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}